<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
    <meta http-equiv="Pragma" content="no-cache" />
    <meta http-equiv="Expires" content="0" />
    <title>SVG Viewer</title>
    <link rel="stylesheet" type="text/css" href="styles.css">
</head>
<body>
    <div class="app">
        <h1>Select SVGs</h1>
        <div id="formContainer" class="svg-form">
            <!-- The checkboxes will be added here -->
        </div>

        <div id="result-div" class="result-div" onmouseover="document.body.style.overflow='hidden';"  onmouseout="document.body.style.overflow='auto';">
            <svg id="result-svg" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="-500 -500 1000 1000">
            
            </svg>
        </div>
        <br>
        <div class="tooltip">&#9432;
            <span>Click and drag to move around. Use the mouse wheel to zoom.</span>
        </div>
        
    </div>
  


    <script src="script.js"></script>
</body>
</html>

