.app{
    font-family: monospace;
    text-align: center;
}

.app h1{
    font-size: 40px;
}

.svg-form{
    text-align: center;
    align-items: center;
}

.form-item{
    display: inline-block;
    border-color: white;
    background-color: transparent;
    font-size: 16px;
    font-weight: 1000;
    margin: 8px;
    max-width: 1000px;
    height: 20px;
}

.form-item label {
    border-radius: 10px;
    user-select: none;
    cursor: pointer;
}

.form-item label span {
    text-align: center;
    padding: 3px 3px;
    display: block;
    border-radius: 10px;
    border: grey;
    border: solid;
    border-width: 2px;
}

.form-item label input {
    display: none;
}

.form-item input:checked + span{
    background: linear-gradient(
        45deg,
        rgba(24, 67, 90, 0.8),
        rgba(88, 12, 31, 0.8) 100%
      );
  color: white;
}

.apply-button{
    border: 10px;
    margin: 20px;
    padding: 10px;
    font-family: monospace;
}

.result-div{
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.35);
    height: 40%;
    width: 40%;
    display: inline-block;
    cursor: grab;
}

.result-div svg g{
    cursor: pointer;
}

.tooltip {
  font-size: 16px;
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
}

.tooltip span {
  width: 300px;
  visibility: hidden;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 2px;
  padding: 8px;
  position: absolute;
  z-index: 1;
}

.tooltip:hover span {
  visibility: visible;
}
