name: Build conda package

on:
  workflow_dispatch:
    inputs:
      package:
        description: Package to build
        required: true

jobs:
  build_and_upload:
    runs-on: macos-14
    strategy:
      fail-fast: false
    env:
      ANACONDA_API_TOKEN: ${{ secrets.ANACONDA_API_TOKEN }}

    steps:
      - name: Checkout main
        uses: actions/checkout@v3
        with:
          fetch-depth: 0

      - name: Setup micromamba
        uses: mamba-org/setup-micromamba@v1
        with:
          environment-name: boa
          create-args: anaconda-client boa conda-verify mamba
          generate-run-shell: true
          condarc: |
            channels:
              - dnachun
              - conda-forge
              - bioconda

      - name: Set up working directories
        run: |
          mkdir /tmp/recipes
          mkdir /tmp/conda-bld
          cp -R ${{ github.event.inputs.package }} /tmp/recipes

      - name: Build conda packages
        shell: micromamba-shell {0}
        run: conda mambabuild --output-folder /tmp/conda-bld /tmp/recipes

      - name: Upload package
        shell: micromamba-shell {0}
        run: anaconda upload --force /tmp/conda-bld/osx-arm64/*.tar.bz2
